.container_15{margin-left: auto;margin-right: auto;width: 975px;}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15 {display: inline;float: left;position:relative;margin-left: 10px;margin-right: 10px;}

.alpha {margin-left: 0;}

.omega {margin-right: 0;}

.container_15 .grid_1 {width: 45px;}

.container_15 .grid_2 {width: 110px;}

.container_15 .grid_3 {width: 175px;}

.container_15 .grid_4 {width: 240px;}

.container_15 .grid_5 {width: 305px;}

.container_15 .grid_6 {width: 370px;}

.container_15 .grid_7 {width: 435px;}

.container_15 .grid_8 {width: 500px;}

.container_15 .grid_9 {width: 565px;}

.container_15 .grid_10 {width: 630px;}

.container_15 .grid_11 {width: 695px;}

.container_15 .grid_12 {width: 760px;}

.container_15 .grid_13 {width: 825px;}

.container_15 .grid_14 {width: 890px;}

.container_15 .grid_15 {width: 955px;}

.container_15 .prefix_1 {padding-left: 65px;}

.container_15 .prefix_2 {padding-left: 130px;}

.container_15 .prefix_3 {padding-left: 195px;}

.container_15 .prefix_4 {padding-left: 260px;}

.container_15 .prefix_5 {padding-left: 325px;}

.container_15 .prefix_6 {padding-left: 390px;}

.container_15 .prefix_7 {padding-left: 455px;}

.container_15 .prefix_8 {padding-left: 520px;}

.container_15 .prefix_9 {padding-left: 585px;}

.container_15 .prefix_10 {padding-left: 650px;}

.container_15 .prefix_11 {padding-left: 715px;}

.container_15 .prefix_12 {padding-left: 780px;}

.container_15 .prefix_13 {padding-left: 845px;}

.container_15 .prefix_14 {padding-left: 910px;}

.container_15 .suffix_1 {padding-right: 65px;}

.container_15 .suffix_2 {padding-right: 130px;}

.container_15 .suffix_3 {padding-right: 195px;}

.container_15 .suffix_4 {padding-right: 260px;}

.container_15 .suffix_5 {padding-right: 325px;}

.container_15 .suffix_6 {padding-right: 390px;}

.container_15 .suffix_7 {padding-right: 455px;}

.container_15 .suffix_8 {padding-right: 520px;}

.container_15 .suffix_9 {padding-right: 585px;}

.container_15 .suffix_10 {padding-right: 650px;}

.container_15 .suffix_11 {padding-right: 715px;}

.container_15 .suffix_12 {padding-right: 780px;}

.container_15 .suffix_13 {padding-right: 845px;}

.container_15 .suffix_14 {padding-right: 910px;}

.container_15 .push_1 {left: 65px;}

.container_15 .push_2 {left: 130px;}

.container_15 .push_3 {left: 195px;}

.container_15 .push_4 {left: 260px;}

.container_15 .push_5 {left: 325px;}

.container_15 .push_6 {left: 390px;}

.container_15 .push_7 {left: 455px;}

.container_15 .push_8 {left: 520px;}

.container_15 .push_9 {left: 585px;}

.container_15 .push_10 {left: 650px;}

.container_15 .push_11 {left: 715px;}

.container_15 .push_12 {left: 780px;}

.container_15 .push_13 {left: 845px;}

.container_15 .push_14 {left: 910px;}

.container_15 .pull_1 {left: -65px;}

.container_15 .pull_2 {left: -130px;}

.container_15 .pull_3 {left: -195px;}

.container_15 .pull_4 {left: -260px;}

.container_15 .pull_5 {left: -325px;}

.container_15 .pull_6 {left: -390px;}

.container_15 .pull_7 {left: -455px;}

.container_15 .pull_8 {left: -520px;}

.container_15 .pull_9 {left: -585px;}

.container_15 .pull_10 {left: -650px;}

.container_15 .pull_11 {left: -715px;}

.container_15 .pull_12 {left: -780px;}

.container_15 .pull_13 {left: -845px;}

.container_15 .pull_14 {left: -910px;}

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}

.clearfix:after {clear: both;content:' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}

.clearfix {display: inline-block;}* html .clearfix {height: 1%;}.clearfix {display: block;}