/* CSS Document */

ol.plans {
	margin-right: auto;
	margin-left: 60px;
	
	}	
	
ol.plans .item {
	float : left; 
	width : 170px; 
	padding : 7px 7px 0; 
	text-align : center; 
	border : 1px solid #DFE7EF; 
	color : #44575E; 
	list-style: none;
	margin: 1px; 
	}
	
.plans .individual .action {
    background-color: #C7E402; 
    background-repeat: no-repeat;
}
.plans .basic .action {
    background-color:  #B6FF50;
    background-repeat: no-repeat;
}
.plans .professional .action {
    background-color: #8DC73D;
    background-repeat: no-repeat;
}
.plans .enterprise .action {
    background-color: #E4E4E4;
    background-repeat: no-repeat;
}

